# Ignorar ficheiro de variáveis de ambiente
.env

# Ignorar pasta do ambiente virtual
venv/
.venv

# Ignorar ficheiros e pastas comuns em projetos Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar configurações específicas do editor
.vscode/
.idea/
*.sublime-workspace

# Ignorar logs e ficheiros temporários
*.log
*.tmp

# # Ignorar ficheiros de info de produtos

info-produtos/
data/
tembo_backup.dump
try4-v5-llm_call+v2environment-llama-index-normal-index.ipynb
experiment.ipynb